@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap");
$colorPrimary: #57828b;
$colorSecondary: rgb(126, 129, 129);

$roboto: "Roboto",
sans-serif;
$opensans: "Open Sans",
sans-serif;